.venv
notebooks
mlruns/
mlartifacts/
homeworks/week-02/artifacts/
homeworks/week-02/mlruns/
homeworks/week-02/mlflow.db
poetry.toml
poetry.lock
mlflow.db
logs
plugins
.env
test
dags
week-03/~
homeworks/week-04/results.parquet